[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
more-itertools = "*"
invoke = "*"
fs = "*"
black = "*"
isort = "*"
funcy = "*"
networkx = "*"
scipy = "*"
portion = "*"
ordered-set = "*"
frozendict = "*"
disjoint-set = "*"
bitarray = "*"

[dev-packages]

[requires]
python_version = "3.10"
